/* General CSS rules */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#map-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.mapboxgl-popup-content > .popup > * {
  margin: 0;
}
.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  pointer-events: none;
}
.map-overlay * {
  pointer-events: all !important;
}
.map-title-and-search {
  float: left;
}
.map-title {
  color: #fff;
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 8px;
}
/* Omnibox */
/* Remove display of react-burger-menu components */
.bm-burger-button, .bm-burger-bars {
  display: none;
}
.map-omnibox {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fcfcfc;
  position: absolute;
  top: 36px;
  left: 10px;
}
.omnibox-burger-menu {
  background: #fcfcfc;
  border-radius: 3px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  z-index: 1000;
}
.omnibox-burger-menu button {
  background: transparent;
  position: absolute;
  height: 38px;
  width: 38px;
  font-size: 0px;
  border: 0px;
  cursor: pointer;
}
.omnibox-burger-bar {
  width: 20px;
  height: 2.5px;
  background: #444;
  position: absolute;
  left: 10px;
}
.omnibox-burger-bar-top {
  top: 12px;
}
.omnibox-burger-bar-middle {
  top: 18px;
}
.omnibox-burger-bar-bottom {
  top: 24px;
}
.omnibox-burger-menu:hover .omnibox-burger-bar {
  opacity: 0.75;
}
#place-search {
  top: 12pt;
  min-width: 260px;
  flex-grow: 1;
}
/* Map settings pane */
.bm-menu-wrap {
  transition: all 0.25s ease-in-out !important;
}
.bm-cross-button {
  color: #f0f;
}
.map-settings-pane-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #3f3f3f;
  padding: 4px;
  background: rgba(244, 244, 244, 0.93);
}
.map-settings-pane-section-header {
  background-color: #02346d;
  color: #ffffff;
  border: 0px;
  text-align: center;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
}
.map-settings-pane label {
  font-size: 10pt;
}
i.category-legend {
  width: 12px;
  height: 12px;
  float: left;
  border-radius: 3px;
}
.map-settings-pane #categories {
  line-height: 1em;
}
button.select-all {
  margin: 2px;
  font-size: 10pt;
  color: #fff;
  background-color: #02346d;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 3px;
}
button.select-all:hover {
  background-color: #12447d;
}
button.select-all:active {
  background-color: #22548d;
}
div.flex-row {
  display: flex;
}
div.flex-grow {
  flex-grow: 1;
}
